* {
    box-sizing: border-box;
    margin-left: 0px;
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

img {
    width: 20px;
    height: 20px;
}

P {
    width: 100vw; 
    display: flex;
    justify-content: center;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.idBoard {
    width: 400px;
    font-size: 0; 
}

.gameOver {
    width: 400px;
    height: 400px;
}

.idPoints {
    width: 100vw; 
    display: flex;
    justify-content: center;
}

.idRestart {
    width: 100vw; 
    display: flex;
    justify-content: center;
}

.idControlUp {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.idControlDown {
    width: 100vw;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    gap: 36px;
    margin-top: 4px;
    list-style: none;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 10px;
    border-radius: 10px;
    position:absolute;
	bottom:0px;
	width:100%;
}

section div {
    background-color: #2a2634;
    padding-top: 4px;
    border-radius: 10px;   
}

section h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: -0.18px;
    color: #AAAAAA;;
    margin-left:10px;
    margin-top: 4px;
}

section p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: -0.18px;
    color: #A1A1AA;
    justify-content: right;
    margin-right: 10%;
    margin-top: -14px;
}

section ul {
    display: flex;
    gap: 36px;
    margin-top: 4px;
    list-style: none;
}

section ul li:hover {
    transform: scale(1.2);
}

